/cognitive-book/i18n/ru/docusaurus-plugin-content-docs/current/not-agents/backend/prompt1
/cognitive-book/i18n/ru/docusaurus-plugin-content-docs/current/not-agents/backend/prompt2
/cognitive-book/i18n/ru/docusaurus-plugin-content-docs/current/not-agents/backend/prompt3
/cognitive-book/i18n/ru/docusaurus-plugin-content-docs/current/not-agents/backend/prompt4
/cognitive-book/yarn.lock